       <h1>User List</h1>
       <table class="user-list" style="width:100%">
          <tr>
            <th>ID</th>
            <th>Name</th> 
            <th>Email</th>
            <th>Phone</th>
            <th>Password</th>
            <th>Profile Image</th>
          </tr>

          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td> 
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{user.pwd}}</td>
            <td><img src="{{ user.image }}"/></td>
          </tr>
        </table>
 
